body {
	font-family: "Open Sans";
	max-width: 60em;
	margin: auto;
}

body {
	background-color: #86ad40;
}

#content {
	padding: 10px;
	background-color: white;
}

 .column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}